:root {
  --h: 222;
  --button-bg: hsl(var(--h), 70%, 50%);
  --button-bg-hover: hsl(var(--h), 80%, 40%);
  --button-bg-active: hsl(var(--h), 80%, 30%);
  --button-bg-disabled: hsl(var(--h), 20%, 95%);
  --button-text-disabled: hsl(var(--h), 10%, 55%);
  --button-text: white;
  --border-color: var(--button-bg);

  --app-bg: hsl(var(--h), 90%, 98%);
  --surface-bg: white;
  --surface-text: #444;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--surface-text);
  /* background-color: var(--app-bg); */
} /* Rectangle 1 */

.btn {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 150ms, transform 50ms;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 0.5em;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
}

.btn-primary {
  background-color: var(--button-bg);
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 150ms, transform 50ms;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 0.5em;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.btn:active {
  background-color: var(--button-bg-active);
  transform: translateY(2px);
}

.btn:disabled {
  border-color: var(--button-bg-disabled);
  background-color: var(--button-bg-disabled);
  color: var(--button-text-disabled);
}

.btn-secondary {
  --button-bg: transparent;
  --button-bg-hover: hsl(var(--h), 10%, 90%);
  --button-bg-active: hsl(var(--h), 80%, 30%);
  --button-bg-disabled: hsl(var(--h), 20%, 95%);
  --button-text-disabled: hsl(var(--h), 10%, 55%);
  --button-text: #555;
  --border-color: var(--button-text);

  background: none;
  border: none;
  color: #555;
}

.btn-text {
  --button-bg: transparent;
  --button-bg-hover: hsl(var(--h), 10%, 90%);
  --button-bg-active: hsl(var(--h), 80%, 30%);
  --button-bg-disabled: hsl(var(--h), 20%, 95%);
  --button-text-disabled: hsl(var(--h), 10%, 55%);
  --button-text: #555;
  background: none;
  border: none;
}

.admin {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  background-color: var(--surface-bg);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

header {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  position: relative;
}

h1 {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: normal;
}

main {
  min-height: 400px;
}
